# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS files (if any collaborators use macOS)
.DS_Store

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db

# Logs
*.log

# PyWin32 COM cache (if any)
*.pyo

